:host ::ng-deep .ui-panel-titlebar {
    font-size: large;
    font-weight: bold;
    color: white; 
    background: #186ba0;
    height: 2.5em;
} 

:host ::ng-deep .ui-panel .ui-panel-content {
    padding: 0;
}

.main-menu-div {
    background: #186ba0;
    height: calc(100vh - 4em);
}


