<p-panel>
  <p-header>
    <div>
      {{pageTitle}}
    </div>
  </p-header>
  <p-table #rt [columns]="tblColumns" [value]="allRequests" [lazy]="true" (onLazyLoad)="loadRequestsLazy($event)" [paginator]="true"
    [rows]="10" [totalRecords]="totalRecords" [(contextMenuSelection)]="selectedRequest" [contextMenu]="cm">
    <ng-template pTemplate="caption" class="ui-table-caption">
      <div style="text-align: right">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Global Filter" (input)="rt.filterGlobal($event.target.value, 'contains')"
          style="width:auto">
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <input *ngSwitchCase="'submissionDate'" pInputText type="text" (input)="rt.filter($event.target.value, 'submissionDate')">
          <input *ngSwitchCase="'submitter.fullName'" pInputText type="text" (input)="rt.filter($event.target.value, 'fullName')">
          <input *ngSwitchCase="'submitter.oib'" pInputText type="text" (input)="rt.filter($event.target.value, 'oib')">
          <input *ngSwitchCase="'requestType.name'" pInputText type="text" (input)="rt.filter($event.target.value, 'name')">
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-request let-columns="columns">
      <tr [pContextMenuRow]="request">
        <td *ngFor="let col of columns">
          {{getCellData(request, col)}}
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>
</p-panel>

